/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900');


@import 'tailwindcss';
@import 'tw-golden-spacing';
@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	--color-primary: oklch(0.3341 0.0653 246.48);
	
}

@plugin "daisyui/theme" {
	name: 'dark';
	prefersdark: true;
	--color-primary: oklch(0.3341 0.0653 246.48);
}

/* * {
	border: 1px solid black;
} */

@theme {
	--font-display: 'Jost',  'sans-serif';
	--color-primary-muted: oklch(0.4341 0.0553 246.48);
	--color-primary-muted2: oklch(0.3341 0.0453 246.48);
	--color-primary-highlight: oklch(0.5341 0.133 246.48);
	--color-header: oklch(0.2341 0.0353 246.48);
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}
